@keyframes photoEffect {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
}

@keyframes underlineAnimationLTR {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.Contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 8%;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    color: white;
}

.Contact-text {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
}

.contact-header {
    margin-bottom: 20px;
    position: relative;
    
}

.contact-header h1 {
    margin-bottom: 10px;
    color: white;
    position: relative;
    display: inline-block;
}

.contact-header h1::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: white;
    animation: underlineAnimationLTR 3s linear infinite;
}

.contact-header p {
    margin: 0;
    color: #aaa;
}

.contact-textlabel {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-textlabel label {
    margin-bottom: 5px;
    color: white;
}

.contact-textlabel input,
.contact-textlabel textarea {
    padding: 10px;
    border: 2px solid #555;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    background-color: #222;
    color: white;
}

.contact-textlabel textarea {
    resize: vertical;
}

.btn-submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2b2f3495;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #2b2f3444;
}

.Contact-image {
    flex: 1;
    margin-left: 10%;
   
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    animation: photoEffect 5s infinite;
}

.Contact-image img {
    width: 100%;
    height: auto;
    margin-top: 0px;
}

.map {
    width: 100%;
    margin-top: 10%;
}
.rate h2 {
    font-size: 20px;
    padding-top: 5%;
    color: aliceblue;
    text-decoration: none; /* This should ensure h2 does not have underline */
}

.rate h2:hover {
    color: brown;
}

.rate-link {
    text-decoration: none; /* This removes the underline from the Link */
}

.rate-link:hover {
    text-decoration: none; /* Ensure no underline on hover as well */
}

.rate-link h2 {
    text-decoration: none; /* Ensure h2 inside Link has no underline */
}

